<template>
<div class="user">
  <div class="header" >
    <Header v-on:changeRoute="changeRoute" :index="index"/>
  </div>
  <div class="mid">
    <WorkSpace v-if="index===1" :copyTaskInstance="copyTaskInstance" />
    <WorkHistory v-if="index===2" v-on:copyTask="copyTask"/>
    <UserPage v-if="index===3"/>
  </div>
  <div class="bottom"></div>
</div>
</template>

<script>
  import Header from '../Common/Header'
  import WorkSpace from './WorkSpace'
  import WorkHistory from './WorkHistory'
  import UserPage from '../Common/UserPage'
  export default {
    name: "User",
    components:{Header,WorkSpace,WorkHistory,UserPage},
    data(){
      return{
        role:"user",
        index:1,
        copyTaskInstance:{}
      }
    },
    methods:{
      changeRoute:function(index){
        this.copyTaskInstance={};
        this.index=index
      },
      copyTask(data){
        this.copyTaskInstance=data;
        this.index=1;
      }
    }
    }
</script>

<style lang="less" scoped>
  .user{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .header{}
    .mid{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .bottom{}
  }
</style>
