<template>
  <div class="work-history">
    <div class="title">
        <el-page-header @back="back" content="任务详情" v-if="ifInfo">
        </el-page-header>
    </div>
    <div class="content">
      <div class="taskList" v-if="!ifInfo">
        <div class="search">
          <el-radio-group v-model="taskState" @change="changeState">
            <el-radio-button label="3">全部</el-radio-button>
            <el-radio-button label="0">待审核</el-radio-button>
            <!--el-radio-button label="-2">待执行</el-radio-button-->
            <el-radio-button label="1">执行中</el-radio-button>
            <el-radio-button label="2">已完成</el-radio-button>
            <el-radio-button label="-3">执行失败</el-radio-button>
            <!--el-radio-button label="-1">被拒绝</el-radio-button-->
          </el-radio-group>
          <el-input
            class="searchInput"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            v-model="searchText"
            @keyup.enter.native="BindEnter()"
          >
          </el-input>
        </div>
        <el-table
          :data="tasks"
          @sort-change="changeTableSort"
          style="width: 100%">
          <el-table-column
            prop="time"
            label="创建日期"
            width="180"
            :sortable="'custom'"
          ></el-table-column>
          <el-table-column
            prop="name"
            label="任务名称"
            width="150">
          </el-table-column>
          <el-table-column
            prop="templateName"
            label="所用模板"
            width="150">
          </el-table-column>
          <!--el-table-column
            prop="subnames"
            label="相关子任务"
            width="300">
          </el-table-column-->
          <el-table-column
            prop="string_state"
            label="任务状态"
            width="180"
          >
          </el-table-column>
          <el-table-column
            label="操作"
          >
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" size="mini">查看</el-button>
              <el-popover
                placement="right"
                width="160"
                trigger="click">
                <div style="display: flex;flex-direction: column;flex-wrap: nowrap;">
                  <el-button
                    size="mini"
                    @click="copyTask(scope.$index, scope.row)" style="width: 100%;margin-top: 10px">从此任务新建</el-button>
                  <el-button
                    type="danger"
                    size="mini"
                    @click="deleteTask(scope.$index, scope.row)" style="width: 100%;margin-top: 10px;margin-left: 0">删除</el-button>
                </div>
                <el-button slot="reference" icon="el-icon-plus" size="mini"></el-button>
              </el-popover>

            </template>

          </el-table-column>
        </el-table>
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage"
          :page-size="10"
          layout="total, prev, pager, next"
          :total="pageNum">
        </el-pagination>
      </div>
      <div class="taskInfo" v-else>
        <TaskInfo :task_id="selectedId" :role_num=1 @showRes="get_result"/>
        <div class="resList" v-if="get_Res">
          <el-table
            :data="result_files"
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <div v-if="judgeFileType(props.row.fileName)" style="display: flex;flex-direction: column">
                  <el-image
                    :src="props.row.picBase64"></el-image>
                </div>
                <div v-else>
                  <span>非jpg或png类型文件暂不支持在线查看，请下载后自行打开</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              label="文件名称"
              prop="fileName"
            ></el-table-column>
            <el-table-column
              label="所属子任务"
              prop="name"
            ></el-table-column>
            <el-table-column label="操作" fixed="right">
              <template slot-scope="scope">
                <el-button  @click="download_result(scope.row.fileName)">下载结果</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import imgUrl from "../../assets/img.png"
  import TaskInfo from '../Common/TaskInfo'
  export default {
    name: 'WorkHistory',
    data() {
      return {
        msg: 'Welcome to Work History',
        imgUrl:imgUrl,
        imgUrls:[],
        ifShows:[],
        log_index:-1,
        ifInfo:false,
        tasks:[],
        selectedId:-1,
        selectedTaskState:0,
        searchText:"",
        sortType:"",
        taskState:3,
        info: [],
        tableDatas: [],
        get_Res:false,
        ifLoading: false,
        result_files:[
        ],
        currentPage:1,
        pageNum:0,
      }
    },
    components:{TaskInfo},
    mounted(){
      this.getUserTasks();
    },
    methods: {
      getUserTasks(){
        const userInfo=JSON.parse(sessionStorage.getItem("userInfo"));
        let uid=userInfo.uid;
        let data={
          uid:uid,
          searchText:this.searchText,
          state:parseInt(this.taskState),
          sortType:this.sortType,
          current:this.currentPage-1,
        };
        console.log(data);
        if (process.env.NODE_ENV === "development") {
          let tasks=[
            {
              taskInstanceId:1,
              time:"2021/8/16 15:30",
              name:"test_base1",
              templateName:"test_template",
              templateId:1,
              state:2,
              string_state:"已完成"
            }
          ];
          this.tasks=tasks;
          this.pageNum=1;
        }else{
          this.$axios.post('/history/getUserTasks',data).then(
            (response)=>{
              console.log(response.data.content);
              if(response.data.success){
                let tasks=response.data.content.resList;
                for(var i=0;i<tasks.length;i++){
                  let string_state="";
                  switch (tasks[i].state) {
                    case 0:
                      string_state="待审批";
                      break;
                    case -2:
                      string_state="待执行";
                      break;
                    case 1:
                      string_state="执行中";
                      break;
                    case 2:
                      string_state="已完成";
                      break;
                    case -1:
                      string_state="被拒绝";
                      break;
                    case -3:
                      string_state="执行失败";
                      break;
                    default:
                      break;
                  }
                  tasks[i].string_state=string_state;
                }
                this.tasks=tasks;
                this.pageNum=response.data.content.num;
              }
            }
          ).catch().finally(
          );
        }
      },
      handleCurrentChange(val) {
        //console.log(`当前页: ${val}`,this.currentPage);
        this.getUserTasks();
      },
      handleClick(row){
        this.ifInfo=true;
        this.selectedId=row.taskInstanceId;
        this.selectedTaskState=row.state;
        //this.taskInfoinit();
      },
      deleteTask(index,row){
        this.$confirm('此操作将永久删除该任务, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          console.log(" delete task id",row.id);
          this.$axios.delete('/history/deleteTask',{params:{id:row.taskInstanceId}}).then(
            (response)=>{
              if(response.data.success){
                this.$message({
                  type: 'success',
                  message: '删除成功!'
                });
                if(!this.ifInfo){
                  this.tasks.splice(index,1);
                }else{
                  this.ifInfo=false;
                }
              }
            }
          );
        }).catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: '已取消删除'
          // });
        });
      },
      copyTask(index,row){
        if (process.env.NODE_ENV === "development") {
          let data={
            id:1,
            time:"2020-21-1 08:00",
            name:"test_task",
            templateName:"test_template",
            templateId:1,
            state:2,
            childrenTaskInfo:[
              {
                templateName:"sub1",
                state:2,
                params:[
                  {
                    name:"p1",
                    cname:"参数一",
                    value:"2001"
                  },
                  {
                    name:"p2",
                    cname:"参数二",
                    value:"2002"
                  },
                  {
                    name:"p3",
                    cname:"参数三",
                    value:"2003"
                  }
                ]
              },
              {
                templateName:"sub2",
                state:2,
                params:[
                  {
                    name:"p1",
                    cname:"参数一",
                    value:"2001"
                  },
                  {
                    name:"p2",
                    cname:"参数二",
                    value:"2002"
                  },
                  {
                    name:"p3",
                    cname:"参数三",
                    value:"2003"
                  }
                ]
              }
            ]
          };
          this.$emit("copyTask",data)
        }
        else{
          this.$axios.get('/adminworkspace/getTaskInfo',{params:{id:row.taskInstanceId}})
            .then(response=>{
              let resdata=response.data;
              if(resdata.success){
                let data=resdata.content;
                data.templateName=row.templateName;
                data.templateId=row.templateId;
                this.$emit("copyTask",data)
              }
              else{
                this.$message({
                  message: resdata.message,
                  type: 'error',
                  duration:2000,
                });
              }
            })
            .catch(error=>{
              console.log(error);
            });
        }
      },
      back(){
        this.ifInfo=false;
        this.get_Res=false;
        this.getUserTasks()
      },
      changeState:function(s){
        this.currentPage=1;
        this.getUserTasks();
      },
      changeTableSort(column) {
        //console.log(column);
        //获取字段名称和排序类型
        var fieldName = column.prop;
        var sortingType = column.order;
        if(fieldName==="time"){
          if(sortingType==="ascending"){
            this.sortType="time";
          }else{
            this.sortType="time-reverse";
          }
        }
        this.getUserTasks();
      },
      BindEnter() {
        this.currentPage=1;
        this.getUserTasks();
      },
      //根据taskInstance的id获取结果
      get_result(){
        if (process.env.NODE_ENV === "development") {
          console.log("获取结果");
          let res=[
            {
              name:"test",
              fileName:"res.jpg",
              picBase64:this.imgUrl
            },
            {
              name:"test2",
              fileName:"res2.ncl",
              picBase64:""
            }
          ]
          this.result_files=res;
          this.get_Res=true;
        }
        else{
          this.$axios.get('/history/getFiles',{params:{id:this.selectedId}})
            .then(response=>{
              console.log("/history/getFiles",response.data.content);
              let i=0;
              let len=response.data.content.length;
              let res=response.data.content;
              for(i;i<len;i++){
                res[i].picBase64='data:image/png;base64,' +res[i].picBase64;
              }
              this.result_files=res;
              this.get_Res=true;
            })
            .catch(error=>{
              console.log(error);
            });
          /*
          let res=[
            {
              name:"test1",
              fileName:"res1.jpg",
              picBase64:this.imgUrl
            },
            {
              name:"test2",
              fileName:"res2.ncl",
              picBase64:""
            }
          ]
          this.result_files=res;
          this.get_Res=true;
          */
        }
      },
      judgeFileType(name){
        return name.endsWith(".jpg") || name.endsWith(".png");
      },
      download_result(filename){
        //window.open(this.imgUrl)
        window.open('/api/history/downloadFile?name='+filename);
      }
    }
  }
</script>

<style scoped lang="less">

  .work-history{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    .title{
      width: 100%;
      padding-top: 20px;
      font-size: 22px;

      .el-breadcrumb{
        font-size: 22px;
      }
    }

    .content{
      width: 100%;
      max-height: 75vh;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;


      .taskList{
        display: flex;
        flex-direction: column;

        .search{
          display: flex;
          flex-direction: row;


          .searchInput{
            margin-left: 20px;
            width: 30%;
          }
        }
      }

      .taskInfo{
        .taskinfo{
          font-size: 18px;
          .info{
            padding-left: 10px;
          }

          .tableDatas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 20px;

            .tableData{
              flex: 0;
              padding-left: 20px;
            }
          }
        }


        .resList{
          width: 100%;
          text-align: left;
          padding-top: 20px;
        }
      }


    }
  }



















</style>
