<template>
  <div class="workspace" :key="step_index">
    <div class="main">
      <div class="task-progress-bar">
        <el-steps :active="step_index-1" finish-status="success" simple style="margin-top: 20px">
          <el-step title="选择模板" ></el-step>
          <el-step title="输入参数" ></el-step>
          <el-step title="确认新建" ></el-step>
        </el-steps>

      </div>
      <div class="progress">
        <div class="task-scripts" v-if="step_index===1">
          <el-input
            class="searchInput"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            v-model="searchText"
            @keyup.enter.native="search()"
          >
          </el-input>
          <el-table
            ref="singleTable"
            :data="taskTemplates"
            highlight-current-row
            @current-change="selectTaskTemplate"
            style="width: 100%">
            <el-table-column
              type="index"
              width="50">
            </el-table-column>
            <el-table-column
              property="name"
              label="任务名称"
              width="150">
            </el-table-column>
            <el-table-column
              property="description"
              label="描述信息"
              width="500"
            >
            </el-table-column>
            <el-table-column
              label=""
              width="100px">
              <template slot-scope="scope">
                <i class="el-icon-check" style="color: #5daf34;font-size: 25px" v-show="judgeCurrentRow(scope.$index)"></i>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-size="10"
            layout="total, prev, pager, next"
            :total="pageNum">
          </el-pagination>
        </div>
        <div class="task-param-form" v-if="step_index===2">
            <el-form class="form" v-for=" (item,index) in childrenTaskTemplates" :model="forms[index]" v-bind:key="index">
              <div class="form-title">{{item.name}}</div>
              <el-form-item class="form_content" v-for="(param,i) in item.param" :label="param.cname" v-bind:key="i">
                <el-select v-model="forms[index].param[i]"  style="width: 80%">
                  <el-option v-for="(v,j) in param.value" :label="v.param_label" :value="v.param_value" v-bind:key="j"></el-option>
                </el-select>
              </el-form-item>
            </el-form>
        </div>
        <div class="task-confirm" v-if="step_index===3">
            <el-table
              :data="info"
              style="width: 100%">
              <el-table-column
                prop="time"
                label="创建日期"
                width="180"
              >
              </el-table-column>
              <el-table-column
                label="任务名称"
                width="180">
                <template slot-scope="scope">
                  <el-input v-model="taskName"></el-input>
                </template>
              </el-table-column>
            </el-table>
          <div class="confirm-children">
            <div v-for="(data,index) in tableData" class="confirm-child">
              <el-table
                :data="data.params"
                style="width: 100%">
                <el-table-column
                  :label="data.name"
                  type="index"
                  width="180">
                </el-table-column>
                <el-table-column
                  prop="name"
                  label="参数名"
                  width="180">
                </el-table-column>
                <el-table-column
                  prop="value"
                  label="参数值"
                  width="180">
                </el-table-column>
              </el-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
        <el-button v-if="step_index>1" @click="prev()">上一步</el-button>
        <el-button v-if="step_index<3" @click="next()">下一步</el-button>
        <el-button v-if="step_index===3"  type="primary" @click="generateTask">确认</el-button>
    </div>
  </div>
</template>

<script>
  import AFormItem from "ant-design-vue/es/form/FormItem";
  import AFormModelItem from "ant-design-vue/es/form-model/FormItem";
  import ARadioGroup from "ant-design-vue/es/radio/Group";
  import ARadioButton from "ant-design-vue/es/radio/RadioButton";
  import imgUrl from "../../assets/img.png"
  import loading from "../../assets/loading.gif"

  export default {
    name: 'WorkSpace',
    components: {ARadioButton, ARadioGroup, AFormModelItem, AFormItem},
    props:["copyTaskInstance"],
    data() {
      return {
        msg: 'Welcome to WorkSpace',
        copyMode:false,
        taskName:"",
        searchText:"",
        currentPage:1,
        pageNum:0,
        ifLoading:true,
        imgUrl:imgUrl,
        loadingImg:loading,
        step_index:1,
        script_index:-1,
        params: [],
        forms: [],
        tempInput: '',
        taskTemplates:[],
        childrenTaskTemplates:[],
        info:[],
        tableData: []
      }
    },
    mounted(){
      this.getTaskTemplates();

    },
    methods: {
      getTaskTemplates(){;
        let data={
          searchText:this.searchText,
          current:this.currentPage-1
        };
        if(this.copyTaskInstance.templateId){
          //console.log(this.copyTaskInstance)
          this.copyMode=true;
        }
        //console.log(data);
        if (process.env.NODE_ENV === "development") {
          this.taskTemplates=[
            {
              id:1,
              name:"test_template",
              description: "test_des"
            },
            {
              id:2,
              name:"test_template2",
              description: "test_des2"
            }
          ];
          this.pageNum=1;
          if(this.copyMode){

            let copyId=this.copyTaskInstance.templateId;
            console.log("copyId",copyId)
            for(let i=0;i<this.taskTemplates.length;i++){
              if(this.taskTemplates[i].id===copyId){
                this.script_index=i;
                break;
              }
            }
          }
          console.log("script_index",this.script_index)
        }else{
          this.$axios.post('/userworkspace/getTaskTemplates',data)
            .then(response=>{
              //console.log(response.data);
              this.taskTemplates=response.data.content.resList;
              this.pageNum=response.data.content.num;
              if(this.copyMode){
                let copyId=this.copyTaskInstance.templateId;
                for(let i=0;i<this.taskTemplates.length;i++){
                  if(this.taskTemplates[i].id===copyId){
                    this.script_index=i;
                    break;
                  }
                }
              }
            })
            .catch(error=>{
              console.log(error);
            })
        }
      },
      judgeCurrentRow(rowIndex){
        if(rowIndex===this.script_index)return true;
      },
      setCopyData(){
        let id=this.copyTaskInstance.templateId;
        this.getChildrenTaskTemplates(id);
      },
      search(){
        this.currentPage=1;
        this.getTaskTemplates();
      },
      handleCurrentChange(val) {
        //console.log(`当前页: ${val}`,this.currentPage);
        this.getTaskTemplates();
      },
      selectTaskTemplate(val) {
        let id=val.id;
        let tasks=this.taskTemplates;
        let i;
        for(i=0;i<tasks.length;i++){
          if(tasks[i].id===id){
            this.script_index = i;
            break;
          }
        }
        //console.log(this.script_index)
      },
      prev(){
        if(this.step_index===2){
          if(this.copyMode){
            this.$confirm('离开当前页面将丢失所有数据, 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.step_index=1;
              this.script_index=-1;
              this.copyMode=false;
            });
          }else{
            this.step_index=1;
            this.script_index=-1;
          }

        }else{
          this.step_index=2;
        }
      },
      next(){
        if(this.step_index===1){
          if(this.script_index===-1){
            this.$message.info('请选择一个任务模板用来新建任务');
          }
          else{
            let id=this.taskTemplates[this.script_index].id;
            this.getChildrenTaskTemplates(id);
          }
        }
        else if(this.step_index===2){
          let i,j;
          let judge=false;
          for(i=0;i<this.childrenTaskTemplates.length;i++){
            let len=this.childrenTaskTemplates[i].param.length;
            let len2=this.forms[i].param.length;
            if(len!==len2){
              judge=true;
              break;
            }
            for(j=0;j<len;j++){
              if(this.forms[i].param[j]){
              }
              else{
                judge=true;
                break
              }
            }

          }
          if(judge){
            this.$message.info('请输入完整的参数');
          }
          else{
            this.beforeConfirm();
            this.step_index=3
          }
        }

      },
      getChildrenTaskTemplates(id){
        let childrenTaskTemplates,copyData;
        let copyMode=this.copyMode;
        let copyJudge=false;
        if(copyMode){
          if(this.script_index!==-1&&this.copyTaskInstance.templateId===this.taskTemplates[this.script_index].id)copyJudge=true;
          copyData=this.copyTaskInstance.childrenTaskInfo;
        }
        console.log("id",id);
        if(process.env.NODE_ENV === "development"){
          childrenTaskTemplates=[
            {
              name:"test_sub",
              description:"test_sub",
              index:1,
              script:"test_main",
              params:[
                {
                  name:"p1",
                  cname:"参数1",
                  type:"list",
                  values:"2001 2002 2003"
                },
                {
                  name:"p2",
                  cname:"参数2",
                  type:"select",
                  values:"aa{参数一} bb{参数二} cc dd"
                },
                {
                  name:"p3",
                  cname:"参数3",
                  type:"integer_range",
                  values:"1 10"
                }
              ]
            },
            {
              name:"test_sub",
              description:"test_sub",
              index:1,
              script:"test_main",
              params:[
                {
                  name:"p1",
                  cname:"参数1",
                  type:"select",
                  values:"2001 2002 2003"
                },
                {
                  name:"p2",
                  cname:"参数2",
                  type:"list",
                  values:"aa bb cc dd"
                },
                {
                  name:"p3",
                  cname:"参数3",
                  type:"integer_range",
                  values:"1 10"
                }
              ]
            }
          ];
          let forms=[];
          let i,j;
          for(i=0;i<childrenTaskTemplates.length;i++){
            let form=[];
            let params=childrenTaskTemplates[i].params;
            let list=[];

            for(j=0;j<params.length;j++){
              let value=[];
              if(params[j].type==="integer_range"){
                let min,max,k;
                min=params[j].values.split(" ")[0];
                max=params[j].values.split(" ")[1];
                for(k=min;k<=max;k++){
                  let v={
                    param_label:"",
                    param_value:""
                  };
                  v.param_label=k;
                  v.param_value=k;
                  value.push(v);
                }
              }else{
                let vList=params[j].values.split(" ");
                for(let k=0;k<vList.length;k++){
                  let v={
                    param_label:"",
                    param_value:""
                  };
                  let str = vList[k];
                  if(params[j].type==="select"){

                    let reg = /[^\{}]*\{(.*)\}[^\}]*/;
                    let substr=str.replace(reg,'$1');
                    //console.log(substr);
                    v.param_label=substr;
                    v.param_value=str;
                  }else{
                    v.param_label=str;
                    v.param_value=str;
                  }
                  value.push(v);
                }

              }
              let param={
                name:params[j].name,
                cname:params[j].cname,
                value:value
              };
              list.push(param);
              if(copyJudge){
                form.push(copyData[i].params[j].value)
              }
              console.log(list)
            }
            childrenTaskTemplates[i].param=list;
            forms.push({
              param:form
            })
          }
          this.childrenTaskTemplates=childrenTaskTemplates;
          this.forms=forms;
          this.step_index=2;
        }
        else{
          this.$axios.get('/userworkspace/getChildrenTaskTemplates',{params:{id:id}})
            .then(response=>{
              let resdata=response.data;
              if(resdata.success){
                childrenTaskTemplates=resdata.content;
                let forms=[];
                let i,j;
                for(i=0;i<childrenTaskTemplates.length;i++){
                  let form=[];
                  let params=childrenTaskTemplates[i].params;
                  let list=[];

                  for(j=0;j<params.length;j++){
                    let value=[];
                    if(params[j].type==="integer_range"){
                      let min,max,k;
                      min=params[j].values.split(" ")[0];
                      max=params[j].values.split(" ")[1];
                      for(k=min;k<=max;k++){
                        let v={
                          param_label:"",
                          param_value:""
                        };
                        v.param_label=k;
                        v.param_value=k;
                        value.push(v);
                      }
                    }else{
                      let vList=params[j].values.split(" ");
                      for(let k=0;k<vList.length;k++){
                        let v={
                          param_label:"",
                          param_value:""
                        };
                        let str = vList[k];
                        if(params[j].type==="select"){

                          let reg = /[^\{}]*\{(.*)\}[^\}]*/;
                          let substr=str.replace(reg,'$1');
                          //console.log(substr);
                          v.param_label=substr;
                          v.param_value=str;
                        }else{
                          v.param_label=str;
                          v.param_value=str;
                        }
                        value.push(v);
                      }

                    }
                    let param={
                      name:params[j].name,
                      cname:params[j].cname,
                      value:value
                    };
                    list.push(param);
                    if(copyJudge){
                      form.push(copyData[i].params[j].value)
                    }
                    //console.log(list)
                  }
                  childrenTaskTemplates[i].param=list;
                  forms.push({
                    param:form
                  })
                }
                //console.log(childrenTaskTemplates);
                //console.log(forms);
                this.childrenTaskTemplates=childrenTaskTemplates;
                this.forms=forms;
                this.step_index=2;
              }
              else{
              }
            })
            .catch(error=>{
              console.log(error);
            });
        }
      },
      generateTask(){
        if(!this.taskName){
          this.$message({
            message: '请输入任务名',
            type: 'warning'
          });
        }
        const userInfo=JSON.parse(sessionStorage.getItem("userInfo"));
        let uid=userInfo.uid;
        let values="";
        for(var i=0;i<this.tableData.length;i++){
          let task=this.tableData[i];
          let childValue=[];
          for(var j=0;j<task.params.length;j++){
            childValue.push(task.params[j].value);
          }
          childValue=childValue.join(" ");
          values+="\""+childValue+"\"";
        }
        let input=values;
        let data={
          uid:uid,// 发起请求的用户id
          name:this.taskName,
          templateId:this.info[0].id,
          state:0,//
          time:this.info[0].time,//任务创建的时间
          input:input,
        };
        console.log("生成任务",data);
        this.$axios.post('/userworkspace/generateTask',data).then(
          (response)=>{
            if(response.data.success){
              this.$message({
                message: '任务已提交给管理员审核',
                type: 'success',
                duration:200
              });
              this.step_index=1
            } else{
              this.$message({
                message: response.data.message,
                type: 'error',
                duration:500
              });
            }

          }
        ).catch()
      },
      beforeConfirm(){
        let myDate = new Date();
        let month=(myDate.getMonth()+1);
        if(month<10){
          month="0"+month;
        }
        let date=myDate.getDate();
        if(date<10){
          date="0"+date;
        }
        let hour=myDate.getHours();
        if(hour<10)hour="0"+hour;
        let minute=myDate.getMinutes();
        if(minute<10)minute="0"+minute;
        let second=myDate.getSeconds();
        if(second<10)second="0"+second;
        let time=myDate.getFullYear()+"/"+month+"/"+date+" "+hour+":"+minute+":"+second;
        let info;
        if(this.copyMode){
          let task=this.copyTaskInstance;
          info=[{
            id:task.templateId,
            time:time,
            name:task.templateName,
            description:"???"
          }];
        }else{
          let task=this.taskTemplates[this.script_index];
          info=[{
            id:task.id,
            time:time,
            name:task.name,
            description:task.description
          }];
        }

        let childrenTasks=this.childrenTaskTemplates;
        let forms=this.forms;
        let i,j;
        let data=[];
        for(i=0;i<childrenTasks.length;i++){
          let task={};
          let name=childrenTasks[i].name;
          task.name=name;
          task.params=[];
          let params=childrenTasks[i].params;
          let values=forms[i].param;
          for(j=0;j<params.length;j++){
            task.params.push({
              name: params[j].cname,
              value: values[j]
            })
          }
          data.push(task);
        }
        this.tableData=data;
        this.info=info;
        this.taskName=info[0].name
      }
    },
    watch:{
      copyTaskInstance:{
        handler(newVal, oldVal) {
          console.info('value changed', newVal)
        },
        deep: true
      }
    }
  }
</script>

<style scoped lang="less">
  .workspace{
    width: 100%;
    display: flex;
    flex-direction: column;


    .main{
      width: 80%;
      position: relative;
      padding-top: 20px;

      .task-progress-bar{
        width: 100%;
        padding-left: 15%;
      }

      .progress{
        padding-top: 20px;

        .task-scripts{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          padding-left: 20%;
          .task-scripts-title{
            width: 100%;
            height: 22px;
            font-size: 18px;
            box-shadow: 0 2px 8px #f0f1f2;
            margin-left: 10%;
            text-align: left;
          }

          .task-scripts-items{
            min-width: 100%;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .even{
              background-color:whitesmoke;
            }

            .task-scripts-item{
              position: relative;
              height: 30px;
              padding: 20px;


              .item-index{
                width: 5%;
                position: absolute;
                left: 0;
                top:10px;
                text-align: center;
              }

              .item-name{
                width: 30%;
                text-align: left;
                font-size: 16px;
                position: absolute;
                left: 5%;
                top:10px;
                cursor: pointer;

              }

              .item-name:hover{
                color: #8cc8ff;
                font-size: 18px;
              }

              .item-desc{
                width: 40%;
                text-align:left;
                position: absolute;
                left: 30%;
                top:10px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
              }
              .item-desc:hover{
              }

              .item-selected{
                width: 5%;
                color: green;
                text-align:left;
                font-size: 18px;
                position: absolute;
                left: 80%;
                top:10px;
              }
            }

            .task-scripts-item:hover{
              height: 50px;
              border: 2px solid green;
            }
          }
        }
        .task-param-form{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          padding-left: 20%;

          .form{
            flex: auto;
            padding-top: 20px;
            text-align: left;
            width: 50%;

            .form-title{
              text-align: center;
              font-size: 16px;
            }

            .form_content{
              text-align: right;
            }
          }

        }
        .task-confirm{


          padding-left: 20%;

          .confirm-title{
            width: 100%;
            height: 22px;
            font-size: 18px;
            box-shadow: 0 2px 8px #f0f1f2;
            text-align: left;
          }
        }
      }

    }
  }



  .bottom{
    width: 100%;
    padding-top: 5%;

    .prev-button{
      position: absolute;
      cursor: pointer;
      left: 20%;
      font-size: 16px;
    }

    .prev-button:hover{
      color: #8cc8ff;
      font-size: 18px;
    }

    .next-button{
      position: absolute;
      left: 50%;
      cursor: pointer;
      font-size: 16px;
    }

    .next-button:hover{
      color: #8cc8ff;
      font-size: 18px;
    }
  }


</style>
