<template>
  <div class="whole">
    <!--div class="info">
      <el-table
        :data="info"
      >
        <el-table-column
          prop="time"
          label="创建日期"
          width="180"
        >
        </el-table-column>
        <el-table-column
          prop="name"
          label="任务名称"
          width="180">
        </el-table-column>
        <el-table-column
          prop="state"
          label="任务状态"
          width="180">
        </el-table-column>
        <el-table-column fixed="right" >
          <template slot-scope="scope" >
            <el-button  @click="get_result" type="primary" v-if="role===1&&state===2">查看结果</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div-->
    <div class="info">
      <div class="info_title">
        <div style="width: 180px;text-align: left;padding: 10px;font-size: 18px" v-if="role===0">创建者</div>
        <div style="width: 180px;text-align: left;padding: 10px;font-size: 18px">创建时期</div>
        <div style="width: 180px;text-align: left;padding: 10px;font-size: 18px">任务名称</div>
        <div style="width: 180px;text-align: left;padding: 10px;font-size: 18px">任务状态</div>
      </div>
      <div class="info_border"></div>
      <div class="info_content">
        <div style="width: 180px;text-align: left;padding: 10px" v-if="role===0">{{info[0].uname}}</div>
        <div style="width: 180px;text-align: left;padding: 10px">{{info[0].time}}</div>
        <div style="width: 180px;text-align: left;padding: 10px">{{info[0].name}}</div>
        <div style="width: 180px;text-align: left;padding: 10px">{{info[0].state}}</div>
      </div>
    </div>
    <div class="subTasks">
      <div class="subTask_title">
        <div style="width: 180px;text-align: left;padding: 10px;font-size: 18px">子任务</div>
        <div style="width: 180px;text-align: left;padding: 10px;font-size: 18px">任务状态</div>
      </div>
      <div class="subTask_border"></div>
      <div v-for="(tableData,index) in tableDatas" class="subTask">
        <div class="subTask_info">
          <div style="width: 40px;text-align: center;padding: 10px">
            <i class="el-icon-plus" v-if="tableData.ifChecked==0" v-on:click="check(index)"></i>
            <i class="el-icon-minus" v-else v-on:click="check(index)"></i>
          </div>
          <div style="width: 180px;text-align: left;padding: 10px">{{tableData.templateName}}</div>
          <div style="width: 180px;text-align: left;padding: 10px">{{stateToString(tableData.state)}}</div>

        </div>
        <div class="subTask_params" v-if="tableData.ifChecked==1">
          <el-table
            :data="tableData.params"
            highlight-current-row
            border
          >
            <el-table-column
              type="index"
              width="40">
            </el-table-column>
            <el-table-column
                prop="cname"
                label="参数名"
                width="180">
              </el-table-column>
            <el-table-column
                prop="value"
                label="参数值"
                width="180">
              </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="operation">
      <div v-if="role===0">
        <!--div v-if="this.state===0">
          <el-button type="primary" @click="adminOpr('verify',0)">同意</el-button>
          <el-button type="danger" @click="adminOpr('verify',1)">拒绝</el-button>
        </div-->
        <div v-if="this.state===1">
          <el-button type="primary" @click="ReExecuteTask" :loading="exeLoading">重新执行</el-button>
        </div>
        <div v-if="this.state===0">
          <el-button type="primary" @click="uExecuteTask" :loading="exeLoading">审核并执行</el-button>
        </div>
      </div>
      <div v-else>
        <el-button  @click="get_result" type="primary" v-if="role===1&&state===2">查看结果</el-button>
        <el-button  @click="uExecuteTask" type="primary" v-if="role===1&&state===0" :loading="exeLoading">审核并执行</el-button>
      </div>
    </div>

  </div>
</template>

<script>
    export default {
      name: "TaskInfo",
      data() {
        return {
          msg:"任务",
          ifLogged: false,
          exeLoading:false,
          id:-1,
          state: 0,
          role:0,
          info: [{
          }],
          tableDatas: [
          ],
        };
      },
      props: ["task_id","role_num"],
      created() {
        this.id=this.task_id;
        this.role=this.role_num;
        this.init();
      },
      methods: {
        init() {
          if (process.env.NODE_ENV === "development") {
            let data = {
              id: 1,
              time: "2020-21-1 08:00",
              name: "test_task",
              username:"test",
              state: -2,
              childrenTaskInfo: [
                {
                  templateName: "sub1",
                  state: -2,
                  params: [
                    {
                      name: "p1",
                      cname: "参数一",
                      value: "2001"
                    },
                    {
                      name: "p2",
                      cname: "参数二",
                      value: "2002"
                    },
                    {
                      name: "p3",
                      cname: "参数三",
                      value: "2003"
                    }
                  ]
                },
                {
                  templateName: "sub2",
                  state: -2,
                  params: [
                    {
                      name: "p1",
                      cname: "参数一",
                      value: "2001"
                    },
                    {
                      name: "p2",
                      cname: "参数二",
                      value: "2002"
                    },
                    {
                      name: "p3",
                      cname: "参数三",
                      value: "2003"
                    }
                  ]
                }
              ]
            };
            this.state = data.state;
            let string_state = this.stateToString(this.state);
            this.info = [
              {
                uname:data.username,
                time: data.time,
                name: data.name,
                state: string_state
              }
            ];
            let tableDatas = data.childrenTaskInfo;
            for (var i = 0; i < tableDatas.length; i++) {
              tableDatas[i]["ifChecked"] = 0;
            }
            this.tableDatas = tableDatas;
          }
          else {
            this.$axios.get('/adminworkspace/getTaskInfo', {params: {id: this.id}})
              .then(response => {
                let resdata = response.data;
                //console.log("任务id为", this.id)
                //console.log(resdata);
                if (resdata.success) {
                  let data = resdata.content;
                  this.state = data.state;
                  let string_state = this.stateToString(this.state);
                  this.info = [
                    {
                      uname:data.username,
                      time: data.time,
                      name: data.name,
                      state: string_state
                    }
                  ];
                  let tableDatas = data.childrenTaskInfo;
                  for (var i = 0; i < tableDatas.length; i++) {
                    tableDatas[i]["ifChecked"] = 0;
                    for(let j=0;j<tableDatas[i].params.length;j++){
                      let param_value=tableDatas[i].params[j].value;
                      let reg = /[^\{}]*\{(.*)\}[^\}]*/;
                      tableDatas[i].params[j].value=param_value.replace(reg,'$1');
                    }
                  }
                  this.tableDatas = tableDatas;
                } else {
                  this.$message({
                    message: resdata.message,
                    type: 'error',
                    duration: 1000,
                  });
                }
              })
              .catch(error => {
                console.log(error);
              });
          }
        },
        check(index) {
          if (this.tableDatas[index].ifChecked == 1) {
            this.tableDatas[index].ifChecked = 0;
          } else {
            this.tableDatas[index].ifChecked = 1;
          }
        },
        stateToString(state) {
          switch (state) {
            case 0:
              return "等待审批";
            case 1:
              return "执行中";
            case -2:
              return "待执行";
            case 2:
              return "已完成";
            case -1:
              return "已拒绝";
            case -3:
              return "执行失败";
            default:
              return "error"
          }
        },
        get_result() {
          this.$emit('showRes')
        },
        adminOpr(cmd, num = 0) {
          this.$emit('adminOpr', cmd, num);
        },
        uExecuteTask(){
          //console.log("id", this.id);
          this.exeLoading = true;
          this.$message({
            message: '已开始执行该任务',
            type: 'success',
            duration:400
          });
          this.$axios.get('/userworkspace/executeTask', {params: {id: this.id}}).then(
            (res) => {
              if (res.data.success) {
                this.$message({
                  message: '任务执行完成',
                  type: 'success',
                  duration:1000
                });
                this.init();
              } else {
                this.$message({
                  message: '执行失败，请稍后重试',
                  type: 'error',
                  duration:1000
                });
              }
            }
          ).finally(
            () => {
              this.exeLoading = false
            }
          )
        },
        executeTask() {
          console.log("id", this.id);
          this.exeLoading = true;
          this.$axios.get('/adminworkspace/executeTask', {params: {id: this.id}}).then(
            (res) => {
              if (res.data.success) {
                this.$message({
                  message: '已开始执行该任务',
                  type: 'success'
                });
                //this.ifInfo=false;
              } else {
                this.$message({
                  message: '执行失败，请稍后重试',
                  type: 'error'
                });
              }
            }
          ).finally(
            () => {
              this.exeLoading = false
            }
          )
        },
        ReExecuteTask(){

          //console.log("id", this.id);
          this.exeLoading = true;
          this.$axios.get('/adminworkspace/executeTask', {params: {id: this.id}}).then(
            (res) => {
              if (res.data.success) {
                this.$message({
                  message: '已重新执行该任务',
                  type: 'success'
                });
                //this.ifInfo=false;
              } else {
                this.$message({
                  message: '请求失败，请稍后重试',
                  type: 'error'
                });
              }
            }
          ).finally(
            () => {
              this.exeLoading = false
            }
          )
        },
      }
    }
</script>

<style scoped lang="less">
 .whole{
   width: 100%;

   .info{
     padding-left: 40px;
     flex-direction: column;
     flex-wrap: nowrap;
     font-size:14px;
     padding-top: 20px;

     .info_title{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
     }

     .info_border{
       width: 70%;
       border-bottom: 1px solid lightblue;
     }
     .info_content{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       border-bottom: 1px solid lightblue;
     }
   }

   .subTasks{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     font-size:14px;
     padding-top: 20px;

     .subTask_title{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       margin-left: 40px;
     }
     .subTask_border{
       margin-left: 40px;
       width: 70%;
       border-bottom: 1px solid lightblue;
     }
     .subTask{
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       border-bottom: 1px solid lightblue;


       .subTask_info{
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
       }
       .subTask_params{
         padding-left: 0px;
       }

     }
   }
   .operation{
     width: 50%;
     padding-top: 20px;
     padding-left: 40px;
     text-align: left;
   }
 }
</style>
