<template>
  <div class="whole">
    <el-calendar class="calendar" v-model="dateValue">
    </el-calendar>
    <div class="box-card">
      <div class="header">
        <h1>{{username}}的个人空间</h1>
        <div class="user-button">
          <el-popover
            placement="right"
            width="400"
            trigger="click">
            <el-form :model="newUserForm" status-icon :rules="rules" ref="newUserForm" label-width="100px" class="demo-ruleForm">
              <el-form-item label="用户名" prop="username">
                <el-input v-model.number="newUserForm.username"></el-input>
              </el-form-item>
              <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="newUserForm.pass" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="newUserForm.checkPass" autocomplete="off"></el-input>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="submitForm('newUserForm')">提交</el-button>
                <el-button @click="resetForm('newUserForm')">重置</el-button>
              </el-form-item>
            </el-form>
            <el-button type="text" slot="reference" style="font-size: 16px">编辑</el-button>
          </el-popover>
        </div>
      </div>
      <div class="text">
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'UserPage',
    data() {
      var checkName = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('用户名不能为空'));
        }
        callback()
      };
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.newUserForm.checkPass !== '') {
            this.$refs.newUserForm.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.newUserForm.pass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      return {
        msg: 'Welcome to Your Vue.js App',
        dateValue:new Date(),
        uid:1,
        username:"魔码数据",
        password:"123456",
        newUserForm:{
          username:"",
          pass: '',
          checkPass: ''
        },
        rules: {
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          username: [
            { validator: checkName, trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init(){
        const userInfo=JSON.parse(sessionStorage.getItem("userInfo"));
        this.uid=userInfo.uid;
        this.username=userInfo.userName;
        this.newUserForm={
          username:userInfo.userName,
          pass:userInfo.password,
          checkPass:userInfo.password
        }
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            let data={
              username:this.newUserForm.username,
              password:this.newUserForm.pass
            };
            this.$axios.post('/user/addUser',data).then(
              (res)=>{
                if(res.data.success){
                  this.$message({
                    message: "添加用户成功",
                    type: 'success',
                    duration:1000,
                  });
                }
                else{
                  this.$message({
                    message: res.data.message,
                    type: 'error',
                    duration:1000,
                  });
                }
              }
            ).catch().finally(
              this.getUsers
            )
          } else {
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    },
    mounted() {
      this.init();
    }
  }
</script>

<style scoped lang="less">
  .whole{
    width: 100%;
    padding-top: 20px;
    padding-left: 10%;
    display: flex;
    flex-direction: row;

    .calendar{
      width: 40%;
    }

    .box-card{
      padding-top: 20px;
      width: 60%;
      height: 100vh;
      display: flex;
      flex-direction: column;

      .header{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;

        .user-button{
          width: 30%;
        }
      }

    }
  }
</style>
