<template>
  <div class="user">
    <div class="header" >
      <Header v-on:changeRoute="changeRoute" :index="index"/>
    </div>
    <div class="mid">
      <WorkSpace v-if="index===1" />
      <Templates v-if="index===2"/>
      <Users v-if="index===3"/>
      <Scripts v-if="index===4"/>
    </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
  import Header from '../Common/Header'
  import WorkSpace from './WorkSpace'
  import Templates from './TaskTemplates'
  import Users from './Users'
  import Scripts from './Scripts'
  export default {
    name: "Admin",
    components:{Scripts, Header,WorkSpace,Templates,Users},
    data(){
      return{
        index:1
      }
    },
    methods:{
      changeRoute:function(index){
        this.index=index
      }
    }
  }
</script>

<style lang="less" scoped>
  .user{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .header{}
    .mid{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .bottom{}
  }
</style>
