<template>
  <div class="whole">
    <div class="title" >
      <div v-if="ifInfo" class="title-buttons">
        <div class="back-button">
          <el-page-header @back="back" content="脚本详情" >
          </el-page-header>
        </div>
        <div class="save-button">
          <el-button
            v-if="IfEditMode"
            type="primary"
            icon="el-icon-document-checked"
            :disabled="ifChanged"
            size="mini"
            @click="save">保存</el-button>
          <el-button
            v-else
            type="primary"
            size="medium"
            @click="toEditMode"
          >修改</el-button>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="templates" v-if="!ifInfo">
        <div class="templates-header">
          <el-input
            class="searchInput"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            v-model="searchText"
            @keyup.enter.native="search()"
          >
          </el-input>
          <el-button type="primary" @click="handleAdd" icon="el-icon-circle-plus">新增</el-button>
        </div>
        <div class="templates-list">
          <el-table
            :data="baseTaskTemplates"
            style="width: 100%">
            <el-table-column
              label="脚本名称"
              width="180">
              <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p>{{ scope.row.name }}</p>
                  <div slot="reference" class="name-wrapper">
                    <el-tag size="medium">{{ scope.row.name }}</el-tag>
                  </div>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column
              label="脚本描述"
              width="500"
            >
              <template slot-scope="scope">
                <span>{{ scope.row.description }}</span>
              </template>
            </el-table-column>
            <el-table-column label="操作" fixed="right">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  @click="handleEdit(scope.$index, scope.row)">查看</el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            @current-change="handleCurrentChange"
            :current-page.sync="current"
            :page-size="10"
            layout="total, prev, pager, next"
            :total="pageNum">
          </el-pagination>
        </div>
      </div>
      <div class="template" v-else>
        <div class="title-info">
          <el-table
            :data="template_title"
            style="width: 100%">
            <el-table-column
              label="脚本名称"
              width="350">
              <template slot-scope="scope">
                <el-input v-model="template_info.name"  placeholder="请尽量不要和已有脚本的名称重复"></el-input>
              </template>
            </el-table-column>
            <el-table-column
              label="描述"
              width="500">
              <template slot-scope="scope">
                <el-input v-model="template_info.description" placeholder="请输入脚本的相应功能描述"></el-input>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="title-info">
          <el-table
            :data="template_title"
            style="width: 100%">

            <!--el-table-column
              label="脚本文件"
              width="250"
              v-if="ifEditMode"
            >
              <template slot-scope="scope">
                <div style="width: 100%;display: flex;flex-direction: row">
                  <el-input v-model="template_info.scriptName" placeholder="请输入脚本文件路径"></el-input>
                </div>
              </template>
            </el-table-column-->
            <el-table-column
              label="脚本文件"
              width="350"
            >
              <template slot-scope="scope">
                <el-input v-model="template_info.scriptName" placeholder="请输入相对于存放脚本的固定文件夹的路径"></el-input>
              </template>
            </el-table-column>
            <el-table-column
              label="日志文件名格式"
              width="500">
              <template slot-scope="scope">
                <el-input v-model="template_info.outLogName" placeholder="例如 test.{param1}.test2.{param2},{}中为参数名"></el-input>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="no-param" v-if="params.length===0" >
          暂时没有任何参数，可以点击<a @click="addParam(0)">增加参数</a>
        </div>
        <div class="params" v-else>
          <div class="params-title">
            <div style="width: 180px;text-align: left">参数名</div>
            <div style="width: 180px;text-align: left">中文名</div>
            <div style="width: 150px;text-align: left">参数类型</div>
            <div style="width: 50%;text-align: left">参数取值,</div>
            <div style="width: 20%;text-align: left" v-if="IfEditMode">操作</div>
          </div>
          <div v-for="(param,index) in params" class="param" :key="index+'?'+params.length">
            <div style="width: 160px;text-align: left">
              <el-input v-model="param.name" placeholder="英文名称"></el-input>
            </div>
            <div style="width: 160px;padding-left:20px;text-align: left">
              <el-input v-model="param.cname" placeholder="解释含义"></el-input>
            </div>
            <div style="width: 150px;padding-left:20px;text-align: center">
              <el-select v-model="param.type" placeholder="请选择" >
                <el-option
                  v-for="item in paramTypes"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </div>
            <div style="width: 50%;text-align: left;padding-left:20px;">
              <el-input v-model="param.values" placeholder="字符串类型的参数值，用空格隔开，可以用{}添加注释，例如forecast{预报}" v-if="param.type=='select'"></el-input>
              <el-input v-model="param.values" placeholder="整数类型的参数值，用空格隔开" v-if="param.type=='list'"></el-input>
              <el-input v-model="param.values" placeholder="代表整数区间的参数值，请直接输入两个整数值作为边界，空格隔开，例如1 10" v-if="param.type=='integer_range'"></el-input>
            </div>
            <div style="width: 20%;text-align: left;display: flex;flex-direction: row" v-if="IfEditMode">
              <el-button
                size="mini"
                type="danger"
                @click="deleteParam(index)">删除</el-button>
              <el-button
                size="mini"
                type="primary"
                @click="addParam(index)">增加</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      name: "Scripts",
      data(){
        return{
          ifInfo:false,
          ifChanged:false,
          IfEditMode:true,
          searchText:"",
          current:1,
          pageNum:0,
          selectedIndex:-1,
          selectedId:-1,
          selectedRow:{},
          baseTaskTemplates:[],
          ifFileUploadError:false,
          fileList:[],
          template_title:[],
          template_info:{
            name:"",
            description:"",
            scriptName:"",
            outLogName:""
          },
          paramTypes:[
            {
              value:"integer_range",
              label:"整数区间"
            },
            {
              value:"select",
              label:"select"
            },
            {
              value:"list",
              label:"list"
            }
          ],
          params:[]
        }
      },
      methods:{
        //列表页面
        getBaseTaskTemplate(){
          this.baseTaskTemplates=[];
          let data={
            searchText:this.searchText,
            current:this.current-1
          };
          if (process.env.NODE_ENV === "development") {
            let resList=[
              {
                id:3,
                name:"test_task",
                description:"test_base1",
                scriptName:"test1.main",
                outLogName:"XXXXXXXX",
                params:[
                  {
                    name:"p1",
                    cname:"参数1",
                    type:"select",
                    values:"2001 2002 2003"
                  },
                  {
                    name:"p2",
                    cname:"参数2",
                    type:"list",
                    values:"aa bb cc dd"
                  },
                  {
                    name:"p3",
                    cname:"参数3",
                    type:"integer_range",
                    values:"1 10"
                  }
                ]
              }
            ];
            this.baseTaskTemplates = resList;
            this.pageNum=1;
          }else {
            this.$axios.post('/scriptconfiguration/getBaseTaskTemplates', data).then(
              (res) => {
                if (res.data.success) {
                  this.baseTaskTemplates = res.data.content.resList;
                  this.pageNum = res.data.content.num;
                }
              }
            ).catch();
          }
        },
        handleCurrentChange(val) {
          //console.log(`当前页: ${val}`,this.current);
          this.getBaseTaskTemplate();
        },
        search() {
          this.current=1;
          this.getBaseTaskTemplate();
        },
        beforeEdit(row){
          if(row){
            this.template_title=[
              {
                name:row.name,
                description:row.description,
                scriptName:row.scriptName,
                outLogName:row.outLogName,
              }
            ];
            this.params=row.params;
            this.IfEditMode=false;
          }
          else{
            this.template_title=[
              {
                name:"",
                description:"",
                scriptName:"",
                outLogName:"",
              }
            ];
            this.params=[];
            this.IfEditMode=true;
          }
          this.template_info=this.template_title[0]
        },
        handleEdit(index,row){
          this.beforeEdit(row);
          this.selectedIndex=index;
          this.selectedRow=row;
          this.selectedId=row.id;
          this.ifInfo=true;
          this.ifEditMode=false;
          //根据ID取得具体信息
        },
        handleDelete(index,row){
          this.$confirm('此操作将永久删除该脚本, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$axios.delete('/scriptconfiguration/deleteBaseTaskTemplate',{params:{id:row.id}}).then(
              (response)=>{
                if(response.data.success){
                  this.$message({
                    type: 'success',
                    message: '删除成功!'
                  });
                  if(!this.ifInfo){
                    this.baseTaskTemplates.splice(index,1);
                  }else{
                    this.ifInfo=false;
                  }
                }
              }
            );
          }).catch(() => {
            // this.$message({
            //   type: 'info',
            //   message: '已取消删除'
            // });
          });

        },
        handleAdd(){
          this.beforeEdit();
          this.ifInfo=true;
          this.ifEditMode=true;
        },
        //详情页面
        back(){
          this.selectedId=-1;
          this.getBaseTaskTemplate();
          this.ifInfo=false;
        },
        toEditMode(){
          this.IfEditMode=true;
        },
        /*
        * deleteParam与addParam用于维护脚本的参数列表
        * */
        deleteParam(index){
          this.params.splice(index,1)
        },
        addParam(index){
          let param={
            name:"",
            type:"integer_range",
            values:""
          };
          this.params.splice(index+1,0,param);
          //console.log(this.params)
        },
        //save方法用于脚本的新增以及修改，修改的实现设计为新增一个脚本并保留原先的脚本，但标记原先的脚本为不可用
        save(){
          if(!this.template_info.name){
            this.$message.error('脚本名不能为空');
            return
          }
          if(!this.template_info.description){
            this.$message.error('脚本描述不能为空');
            return
          }
          if(this.params.length===0){
            if(this.selectedId===-1){
              this.$message({
                type: 'warning',
                message: '你需要为这个脚本增加参数'
              });
            }else{
              this.$confirm('该脚本参数为空，将被删除, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                this.handleDelete(this.selectedIndex,this.selectedRow)
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消删除'
                });
              });
            }
          }
          else{
            let i=0;
            let params=this.params;
            for(i;i<params.length;i++){
              let param=params[i];
              if(param.name&&param.type&&param.values){
              }
              else{
                this.$message.error('参数信息不能为空');
                return
              }
            }
            let data={
              "id":this.selectedId,
              "name":this.template_info.name,
              "description":this.template_info.description,
              "scriptName":this.template_info.scriptName,
              "outLogName":this.template_info.outLogName,
              "params":this.params
            };
            console.log("脚本数据展示",data);
            if (process.env.NODE_ENV === "development") {
              this.$message({
                type: 'success',
                message: '已保存'
              });
              this.back();
            }else{
              this.$axios.post('/scriptconfiguration/addBaseTaskTemplate',data).then(
                (res)=>{
                  if(res.data.success){
                    this.$message({
                      type: 'success',
                      message: '已保存'
                    });
                    this.back();
                  }
                  else{
                    this.$message.error('保存失败，请重试');
                  }
                }
              ).catch(
                (error)=>{
                  this.$message.error('网络连接失败，请检查服务器或者网络状况');
                }
              ).finally()
            }
          }
        }
      },
      mounted() {
        this.getBaseTaskTemplate();
      },
    }
</script>

<style scoped lang="less">
  .whole{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    .title{
      width: 100%;
      padding-top: 20px;
      font-size: 22px;
      .title-buttons{
        display: flex;
        flex-direction: row;
        .back-button{
          width: 20%;
          padding-top: 10px;
        }

        .save-button{
          text-align: left;
          width: 50%;
        }
      }
    }

    .content{
      width: 100%;
      padding-top: 20px;
      display: flex;
      font-size:14px;
      flex-direction: column;
      flex-wrap: nowrap;

      .templates{
        display: flex;
        flex-direction: column;
        width: 100%;

        .templates-header{
          width: 100%;
          display: flex;
          flex-direction: row;
        }
        .templates-list {
          width: 100%;
        }
      }
      .template{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .title-info{
          width: 100%;
        }

        .params{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          .params-title{
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            padding-top: 20px;
            color: #909399;
          }
          .param{
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-top: 20px;
          }


        }

        .no-param{
          width: 100%;
          padding-left: 10px;
          padding-top: 20px;
          text-align: left;
        }
      }
    }
  }
</style>
