<template>
<div class="whole">
    <div class="list-page" v-if="!ifInfo">
      <div class="header">
        <el-input
          class="searchInput"
          placeholder="请输入内容"
          prefix-icon="el-icon-search"
          v-model="searchText"
          @keyup.enter.native="search()"
        >
        </el-input>
        <el-button type="primary" @click="handleAdd" icon="el-icon-circle-plus">新增</el-button>
      </div>
      <div class="content">
        <el-table
          :data="taskTemplates"
          style="width: 100%">
          <el-table-column
            label="模板名称"
            width="180">
            <template slot-scope="scope">
              <el-popover trigger="hover" placement="top">
                <p>{{ scope.row.name }}</p>
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.name }}</el-tag>
                </div>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column
            label="模板描述"
            width="500"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.description }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" fixed="right">
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="getInfo(scope.$index, scope.row)">查看</el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @current-change="getTemplates"
          :current-page.sync="templates_current"
          :page-size="10"
          layout="total, prev, pager, next"
          :total="templates_pageNum">
        </el-pagination>
      </div>
    </div>
    <div class="info-page" v-else>
      <div class="header">
        <div class="back-button">
          <el-page-header @back="back" >
          </el-page-header>
        </div>
        <div class="save-button">
          <el-button
            type="primary"
            icon="el-icon-document-checked"
            size="medium"
            v-if="ifEditMode"
            @click="save">保存</el-button>
          <el-button
            type="primary"
            size="medium"
            v-else
            @click="modify">修改</el-button>
        </div>
      </div>
      <div class="template_info">
        <div class="info_title">
          <div style="width: 180px;text-align: left;padding: 10px;font-size:18px;">模板名称</div>
          <div style="width: 500px;text-align: left;padding: 10px;font-size:18px;">模板描述</div>
        </div>
        <div class="info_content">
          <div style="width: 180px;text-align: left;padding: 18px">
            <el-input v-model="taskTemplatesName" placeholder="模板名称"></el-input>
          </div>
          <div style="width: 500px;text-align: left;padding: 18px">
            <el-input v-model="taskTemplatesDescription" placeholder="模板描述"></el-input>
          </div>
        </div>
      </div>
      <div class="subTemplates">
        <div class="no-subTemplates" v-if="childrenTaskTemplates.length===0" >
          暂时没有任何子任务，可以点击<el-popover
          placement="right"
          width="500"
          trigger="click">
          <div style="display: flex;flex-direction: column;">
            <el-table :data="baseTaskTemplates" @current-change="(val)=>addChild(val,index)">
              <el-table-column width="100" property="name" label="子任务"></el-table-column>
              <el-table-column width="300" property="description" label="描述"></el-table-column>
            </el-table>
            <el-pagination
              @current-change="getBaseTaskTemplates"
              :current-page.sync="currentBasePage"
              :page-size="10"
              layout="total, prev, pager, next"
              :total="BaseNum">
            </el-pagination>
          </div>
          <el-button slot="reference" size="mini" style="pointer-events: auto;">增加子任务</el-button>
        </el-popover>
        </div>
        <div class="has-subTemplates" v-else>
          <div class="subTemplates_title">
            <div style="width: 180px;text-align: left;padding: 10px;font-size:20px;">子任务对应脚本</div>
            <div style="width: 500px;text-align: left;padding: 10px;font-size:20px;">脚本描述</div>
          </div>
          <div class="subTemplates_border"></div>
          <div v-for="(subTemplate,index) in childrenTaskTemplates" class="subTemplate" :key="index+'?'+childrenTaskTemplates.length">
            <div style="width: 50px;text-align: left;padding: 10px;font-size:16px;">{{index+1}}</div>
            <div style="width: 180px;text-align: left;padding: 10px;font-size:16px;">{{subTemplate.name}}</div>
            <div style="width: 500px;text-align: left;padding: 10px;font-size:16px;">{{subTemplate.description}}</div>
            <div style="padding-top: 10px" v-if="ifEditMode">
              <el-button
                size="mini"
                style="font-size: 10px"
                type="danger"
                @click="deleteChild(index)">删除</el-button>
              <el-popover
                placement="right"
                width="500"
                trigger="click">
                <div style="display: flex;flex-direction: column;">
                  <el-table :data="baseTaskTemplates" @current-change="(val)=>addChild(val,index)">
                    <el-table-column width="100" property="name" label="子任务"></el-table-column>
                    <el-table-column width="300" property="description" label="描述"></el-table-column>
                  </el-table>
                  <el-pagination
                    @current-change="getBaseTaskTemplates"
                    :current-page.sync="currentBasePage"
                    :page-size="10"
                    layout="total, prev, pager, next"
                    :total="BaseNum">
                  </el-pagination>
                </div>
                <el-button slot="reference" size="mini">增加</el-button>
              </el-popover>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
</template>

<script>

  export default {
    name: "TaskTemplates",
    data(){
      return{
        ifInfo:false,
        searchText:"",
        taskTemplates:[],
        templates_current:1,
        templates_pageNum:0,
        selectedIndex:-1,
        selectedId:-1,
        childrenTaskTemplates:[],
        baseTaskTemplates:[],
        currentBasePage:1,
        BaseNum:0,
        ifEditMode:false,
        taskTemplatesName:"",
        taskTemplatesDescription:"",
      }
    },
    methods:{
      search(){
        this.templates_current=1;
        this.getTemplates();
      },
      getTemplates(){
        let data={
          searchText:this.searchText,
          current:this.templates_current-1
        };
        if (process.env.NODE_ENV === "development") {
          this.taskTemplates=[
            {
              id:1,
              name:"test_template1",
              description: "test_des1"
            },
            {
              id:2,
              name:"test_template2",
              description: "test_des2"
            }
          ];
          this.templates_pageNum=1;
        }
        else{
          this.$axios.post('/tasktemplate/getTaskTemplates',data)
            .then(response=>{
              if(response.data.success){
                //console.log(response.data.content)
                this.taskTemplates=response.data.content.resList;
                this.templates_pageNum=response.data.content.num;
              }
            })
            .catch(error=>{
              console.log(error);
            })
        }
      },
      getBaseTaskTemplates(){
        this.baseTaskTemplates=[];
        let data={
          searchText:this.searchText,
          current:this.currentBasePage-1
        };
        if (process.env.NODE_ENV === "development") {
          let resList=[
            {
              id:3,
              name:"test_task",
              description:"test_base1",
              scriptName:"test1.main",
              outLogName:"XXXXXXXX",
              params:[
                {
                  name:"p1",
                  cname:"参数1",
                  type:"select",
                  values:"2001 2002 2003"
                },
                {
                  name:"p2",
                  cname:"参数2",
                  type:"list",
                  values:"aa bb cc dd"
                },
                {
                  name:"p3",
                  cname:"参数3",
                  type:"integer_range",
                  values:"1 10"
                }
              ]
            }
          ];
          this.baseTaskTemplates = resList;
          this.BaseNum=1;
        }else {
          this.$axios.post('/scriptconfiguration/getBaseTaskTemplates', data).then(
            (res) => {
              if (res.data.success) {
                //console.log(res.data.content)
                this.baseTaskTemplates = res.data.content.resList;
                this.BaseNum = res.data.content.num;
              }
            }
          ).catch();
        }
      },
      getInfo(index,row){
        this.selectedIndex=index;
        this.taskTemplatesName=this.taskTemplates[index].name;
        this.taskTemplatesDescription=this.taskTemplates[index].description;
        this.selectedId=row.id;
        //根据ID取得具体信息
        if(process.env.NODE_ENV === "development"){
          this.childrenTaskTemplates=[
            {
              baseId:1,
              template_index:1,
              name:"test_sub1",
              description:"test_sub1",
              script:"test_main1",
              params:[
                {
                  name:"p1",
                  cname:"参数1",
                  type:"select",
                  values:"2001 2002 2003"
                },
                {
                  name:"p2",
                  cname:"参数2",
                  type:"list",
                  values:"aa bb cc dd"
                },
                {
                  name:"p3",
                  cname:"参数3",
                  type:"integer_range",
                  values:"1 10"
                }
              ]
            },
            {
              baseId:2,
              template_index:2,
              name:"test_sub2",
              description:"test_sub2",
              script:"test_main2",
              params:[
                {
                  name:"p1",
                  cname:"参数1",
                  type:"select",
                  values:"2001 2002 2003"
                },
                {
                  name:"p2",
                  cname:"参数2",
                  type:"list",
                  values:"aa bb cc dd"
                },
                {
                  name:"p3",
                  cname:"参数3",
                  type:"integer_range",
                  values:"1 10"
                }
              ]
            }
          ];
          this.ifInfo=true;
        }
        else{
          this.$axios.get('/tasktemplate/getTaskTemplateInfo',{params:{id:this.selectedId}}).then(
            (res)=>{
              if(res.data.success){
                //console.log(res.data.content)
                this.childrenTaskTemplates=res.data.content.childrenTaskTemplates;
                this.ifInfo=true;
              }
            }
          ).catch();
        }
      },
      back(){
        this.selectedIndex=-1;
        this.selectedId=-1;
        this.taskTemplatesName="";
        this.taskTemplatesDescription="";
        this.ifInfo=false;
        this.getTemplates();
      },
      handleDelete(index,row){
        this.$confirm('此操作将永久删除该模板, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.delete('/tasktemplate/deleteTaskTemplate', {params: {id: row.id}}).then(
            (response) => {
              if (response.data.success) {
                this.$message({
                  duration:400,
                  type: 'success',
                  message: '删除成功!'
                });
                if (!this.ifInfo) {
                  this.taskTemplates.splice(index, 1);
                } else {
                  this.ifInfo = false;
                }
              }
            }
          )
        }).catch(()=>{})
      },
      handleAdd(){
        this.childrenTaskTemplates=[];
        this.ifEditMode=true;
        this.ifInfo=true;
      },
      addChild(val,index) {
        val.baseId=val.id;
        this.childrenTaskTemplates.splice(index+1,0,val)
        this.ifEditMode=true;
      },
      deleteChild(index){
        this.childrenTaskTemplates.splice(index,1)
      },
      modify(){
        this.ifEditMode=true;
      },
      save(){

        if(!this.taskTemplatesName){
          this.$message.error('模板名不能为空');
          return
        }
        if(!this.taskTemplatesDescription){
          this.$message.error('模板描述不能为空');
          return
        }
        if(this.childrenTaskTemplates.length===0){
          if(this.selectedId===-1){
            this.$message({
              type: 'warning',
              message: '你需要为这个模板增加子任务'
            });
          }else{
            this.$confirm('该模板子任务为空，将被删除, 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.handleDelete(this.selectedIndex,this.selectedRow)
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消删除'
              });
            });

          }
        }
        else{
          let baseTasks=[];
          for(var i=0;i<this.childrenTaskTemplates.length;i++){
            baseTasks.push(this.childrenTaskTemplates[i].baseId)
          }
          let str=baseTasks.join(",");
          let data={
            id:this.selectedId,
            name:this.taskTemplatesName,
            description:this.taskTemplatesDescription,
            baseTasks:str
          };
          console.log(data)
          this.$axios.post('/tasktemplate/addTaskTemplate',data).then(
            (res)=>{
              if(res.data.success){
                this.$message({
                  type: 'success',
                  message: '已保存',
                  duration:300
                });
                this.ifEditMode=false;
                //this.back();
              }else{
                this.$message({
                  type: 'error',
                  message: '保存失败，请稍后重试',
                  duration:300
                });
              }
            }
          )
        }
      }
    },
    mounted() {
      this.search();
      this.getBaseTaskTemplates();
    }
  }
</script>

<style lang="less" scoped>
  .whole{
    width: 90%;
    padding-left: 10%;
    .list-page{
      display: flex;
      padding-left: 40px;
      flex-direction: column;
      flex-wrap: nowrap;
      font-size:14px;
      padding-top: 40px;

      .header{
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
    .info-page{
      display: flex;
      padding-left: 40px;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-top: 20px;

      .header{
        display: flex;
        flex-direction: row;
        .back-button{
          width: 20%;
          padding-top: 10px;
        }
        .save-button{
          padding-top: 10px;
        }
      }
      .template_info{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .info_title{
          padding: 0px;
          padding-left: 40px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
        .info_content{
          padding: 0px;
          padding-left: 40px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }
      .subTemplates{
        .no-subTemplates{
          text-align: left;
          padding-left: 50px;
        }

        .has-subTemplates{
          .subTemplates_title{
            padding-left: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
          }
          .subTemplates_border{
            padding-left: 40px;
            width: 70%;
            border-bottom: 1px solid lightblue;
          }
          .subTemplate{
            padding: 3px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border-bottom: 1px solid lightblue;
          }
        }
      }
    }

  }
</style>
