<template>
  <div class="whole">
    <div class="title" >
      <div v-if="ifInfo" class="title-buttons">
        <div class="back-button">
          <el-page-header @back="back" content="模板详情" >
          </el-page-header>
        </div>
        <div class="save-button">
          <el-button
            type="primary"
            icon="el-icon-document-checked"
            size="mini"
            v-if="ifEditMode"
            @click="save">保存</el-button>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="templates" v-if="!ifInfo">
        <div class="templates-list">
          <el-input
            class="searchInput"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            v-model="searchText"
            @keyup.enter.native="search()"
          >
          </el-input>
          <el-table
            :data="taskTemplates"
            style="width: 100%">
            <el-table-column
              label="任务名称"
              width="180">
              <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p>{{ scope.row.name }}</p>
                  <div slot="reference" class="name-wrapper">
                    <el-tag size="medium">{{ scope.row.name }}</el-tag>
                  </div>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column
              label="描述"
              width="500"
            >
              <template slot-scope="scope">
                <span>{{ scope.row.description }}</span>
              </template>
            </el-table-column>
            <el-table-column label="操作" fixed="right">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  @click="handleEdit(scope.$index, scope.row)">查看</el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            @current-change="handleCurrentChange"
            :current-page.sync="current"
            :page-size="10"
            layout="total, prev, pager, next"
            :total="pageNum">
          </el-pagination>
        </div>
        <div class="add-button">
          <el-button type="primary" @click="handleAdd" icon="el-icon-circle-plus">新增</el-button>
        </div>
      </div>
      <div class="template" v-else>
        <div class="template-title">
          <div class="title-info">
            <el-table
              :data="template_title"
              style="width: 100%">
              <el-table-column
                label="模板名称"
                width="180">
                <template slot-scope="scope">
                  <el-input v-model="template_info.name" ></el-input>
                </template>
              </el-table-column>
              <el-table-column
                label="描述"
                width="500">
                <template slot-scope="scope">
                  <el-input v-model="template_info.description"></el-input>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div  class="no-childTemplates" v-if="childrenTaskTemplates.length===0">
          <div class="title-button">
            <!--<el-button type="danger" @click="open" size="mini" v-if="ifEditMode">删除模板</el-button>-->
            <el-popover
              placement="right"
              width="500"
              trigger="click">
              <div style="display: flex;flex-direction: column;">
                <el-table :data="baseTemplates" @current-change="(val)=>addChild(val,index)">
                  <el-table-column width="100" property="name" label="子任务"></el-table-column>
                  <el-table-column width="300" property="description" label="描述"></el-table-column>
                </el-table>
                <el-pagination
                  @current-change="handleBaseChange"
                  :current-page.sync="currentBasePage"
                  :page-size="10"
                  layout="total, prev, pager, next"
                  :total="BaseNum">
                </el-pagination>
              </div>
              <el-button slot="reference" size="mini" style="pointer-events: auto;font-size: 16px">添加第一个子任务</el-button>
            </el-popover>
          </div>
        </div>
        <div class="childTemplates" v-else>
          <div v-for="(data,index) in childrenTaskTemplates" class="childTemplate" :key="index+'?'+childrenTaskTemplates.length">
            <el-table
              :data="data"
            >
              <el-table-column
                prop="name"
                label="子任务名称"
                width="180">
              </el-table-column>
              <el-table-column
                prop="description"
                label="描述"
                width="400"
              >
              </el-table-column>
              <el-table-column label="操作" fixed="right" v-if="ifEditMode">
                <template slot-scope="scope">
                  <el-button
                    size="mini"
                    type="danger"
                    @click="deleteChild(index)">删除</el-button>
                  <el-popover
                    placement="right"
                    width="500"
                    trigger="click">
                    <div style="display: flex;flex-direction: column;">
                      <el-table :data="baseTemplates" @current-change="(val)=>addChild(val,index)">
                        <el-table-column width="100" property="name" label="子任务"></el-table-column>
                        <el-table-column width="300" property="description" label="描述"></el-table-column>
                      </el-table>
                      <el-pagination
                        @current-change="handleBaseChange"
                        :current-page.sync="currentBasePage"
                        :page-size="10"
                        layout="total, prev, pager, next"
                        :total="BaseNum">
                      </el-pagination>
                    </div>
                    <el-button slot="reference" size="mini" style="pointer-events: auto;">增加</el-button>
                  </el-popover>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  //已经放弃使用。现在用的是TaskTemplates
    export default {
      name: "Templates",
      data() {
          return {
            taskTemplates:[
            ],
            searchText:"",
            current:1,
            pageNum:0,
            baseTemplates:[],
            currentBasePage:1,
            BaseNum:0,
            ifInfo:false,
            ifEditMode:true,
            childrenTaskTemplates:[],
            ifChildrenChanged:false,
            selectedIndex:-1,
            selectedId:-1,
            selectedRow:{},
            template_info:{
              name:"",
              description:""
            },
            template_title:[]
          }
        },
      methods: {
        //列表页面
        init(){
            this.getTaskTemplate();
            this.getBaseTaskTemplate();
          },
        getTaskTemplate(){
          let data={
            searchText:this.searchText,
            current:this.current-1
          };
          if (process.env.NODE_ENV === "development") {
            this.taskTemplates=[
              {
                id:1,
                name:"test_template1",
                description: "test_des1"
              },
              {
                id:2,
                name:"test_template2",
                description: "test_des2"
              }
            ];
            this.pageNum=1;
          }
          else{
            this.$axios.post('/tasktemplate/getTaskTemplates',data)
              .then(response=>{
                if(response.data.success){
                  this.taskTemplates=response.data.content.resList;
                  this.pageNum=response.data.content.num;
                }
              })
              .catch(error=>{
                console.log(error);
              })
          }
        },
        search(){
          this.current=1;
          this.getTaskTemplate();
        },
        handleCurrentChange(val) {
          console.log(`当前页: ${val}`,this.current);
          this.getTaskTemplate();
        },
        getBaseTaskTemplate(){
          this.baseTemplates=[
            {
              id:1,
              name:"test",
              scriptName:"test.sh",
              description:"test",
              outLogName:"test.out"
            },
            {
              id:2,
              name:"test",
              scriptName:"test.sh",
              description:"test",
              outLogName:"test.out"
            }
          ];
          let data={
            searchText:"",
            current:this.currentBasePage-1
          };
          //console.log("base",data);
          if (process.env.NODE_ENV === "development") {
            this.BaseNum=1;
          }
          else{
            this.$axios.post('/scriptconfiguration/getBaseTaskTemplates',data).then(
              (res)=>{
                //console.log(res.data.content);
                if(res.data.success){
                  this.baseTemplates=res.data.content.resList;
                  this.BaseNum=res.data.content.num;
                }
              }
            ).catch();
          }
        },
        handleBaseChange(val){
          this.getBaseTaskTemplate();
        },
        beforeEdit(row){
          if(row){
            this.template_title=[
              {
                name:row.name,
                description:row.description
              }
            ];
          }
          else{
            this.template_title=[
              {
                name:"",
                description:""
              }
            ];
          }
          this.template_info=this.template_title[0]

        },
        handleEdit(index, row) {
            //console.log(row)
            this.beforeEdit(row);
            this.selectedIndex=index;
            this.selectedRow=row;
            let id=row.id;
            this.selectedId=id;
            this.ifEditMode=false;
            //根据ID取得具体信息
          if(process.env.NODE_ENV === "development"){
            this.childrenTaskTemplates=[
              {
                baseId:1,
                name:"test_sub1",
                description:"test_sub1",
                script:"test_main1",
                params:[
                  {
                    name:"p1",
                    cname:"参数1",
                    type:"select",
                    values:"2001 2002 2003"
                  },
                  {
                    name:"p2",
                    cname:"参数2",
                    type:"list",
                    values:"aa bb cc dd"
                  },
                  {
                    name:"p3",
                    cname:"参数3",
                    type:"integer_range",
                    values:"1 10"
                  }
                ]
              },
              {
                baseId:2,
                name:"test_sub2",
                description:"test_sub2",
                script:"test_main2",
                params:[
                  {
                    name:"p1",
                    cname:"参数1",
                    type:"select",
                    values:"2001 2002 2003"
                  },
                  {
                    name:"p2",
                    cname:"参数2",
                    type:"list",
                    values:"aa bb cc dd"
                  },
                  {
                    name:"p3",
                    cname:"参数3",
                    type:"integer_range",
                    values:"1 10"
                  }
                ]
              }
            ];
            this.ifInfo=true;
          }
          else{
            this.$axios.get('/tasktemplate/getTaskTemplateInfo',{params:{id:id}}).then(
              (res)=>{
                if(res.data.success){
                  let data=res.data.content.childrenTaskTemplates;
                  let list=[];
                  for(var i=0;i<data.length;i++){
                    delete data[i]["index"];
                    list.push([data[i]])
                  }
                  //console.log(list)
                  this.childrenTaskTemplates=list;
                  this.ifInfo=true;
                }
              }
            ).catch();
          }
          },
        handleDelete(index,row) {
          this.$confirm('此操作将永久删除该模板, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$axios.delete('/tasktemplate/deleteTaskTemplate',{params:{id:row.id}}).then(
              (response)=>{
                if(response.data.success){
                  this.$message({
                    type: 'success',
                    message: '删除成功!'
                  });
                  if(!this.ifInfo){
                    this.taskTemplates.splice(index,1);
                  }else{
                    this.ifInfo=false;
                  }
                }
              }
            );
          // }).catch(() => {
          //   this.$message({
          //     type: 'info',
          //     message: '已取消删除'
          //   });
          });
          },
        handleAdd(){
          this.beforeEdit();
          this.childrenTaskTemplates=[];
          this.ifEditMode=true;
          this.ifInfo=true;
        },
        //详情页面
        back(){
          this.ifInfo=false;
          this.selectedId=-1;
          this.ifEditMode=true;
          this.getTaskTemplate();
        },
        addChild(val,index) {
          val.baseId=val.id;
          let newChild=[val];
          this.childrenTaskTemplates.splice(index+1,0,newChild)
        },
        deleteChild(index){
          this.childrenTaskTemplates.splice(index,1)
        },
        save(){

        },
      mounted() {
        this.getTaskTemplate();
        this.getBaseTaskTemplate();
      }
    }
</script>

<style scoped lang="less">
  .whole{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    .title{
      width: 100%;
      padding-top: 20px;
      font-size: 22px;
      .title-buttons{
        display: flex;
        flex-direction: row;
        .back-button{
          width: 20%;
          padding-top: 10px;
        }

        .save-button{
          text-align: left;
          width: 50%;
        }
      }
    }

    .content{
      width: 100%;
      max-height: 75vh;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .templates{
        display: flex;
        flex-direction: row;
        width: 100%;

        .templates-list {
          width: 80%;
        }

        .add-button{
          width: 10%;
          padding-left: 20px;
        }
      }

      .template{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .template-title{
          width: 100%;
          display: flex;
          flex-direction: row;
          .title-info{
            width: 70%;
          }
        }

        .no-childTemplates{
          width: 100%;
          .title-button{
            padding-left: 10px;
            padding-top: 20px;
            text-align: left;
          }
        }

        .childTemplates{
          width: 100%;
        }


      }


    }
  }
</style>
