<template>
  <div class="work-history">
    <div class="title">
      <el-page-header @back="back" content="任务详情" v-if="ifInfo">
      </el-page-header>
    </div>
    <div class="content">
      <div class="taskList" v-if="!ifInfo">
        <div class="search">
          <el-radio-group v-model="taskState" @change="changeState">
            <el-radio-button label="3">全部</el-radio-button>
            <el-radio-button label="0">待审核</el-radio-button>
            <!--el-radio-button label="-1">已拒绝</el-radio-button-->
            <!--el-radio-button label="-2">待执行</el-radio-button-->
            <el-radio-button label="1">执行中</el-radio-button>
            <el-radio-button label="2">已完成</el-radio-button>
            <el-radio-button label="-3">执行失败</el-radio-button>
          </el-radio-group>
          <el-input
            class="searchInput"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            v-model="searchText"
            @keyup.enter.native="search()"
          >
          </el-input>
        </div>
        <el-table :data="tasks"
                  @sort-change="changeTableSort"
                  style="width: 100%">
          <el-table-column
            prop="time"
            label="创建日期"
            width="180"
            :sortable="'custom'"
          ></el-table-column>
          <el-table-column
              prop="username"
              label="创建者"
              width="120"
              style="text-align: center"
              :sortable="'custom'"
            >
          </el-table-column>
          <el-table-column
            prop="name"
            label="任务名称"
            width="150">
          </el-table-column>
          <!--el-table-column
            prop="subnames"
            label="相关子任务"
            width="300">
          </el-table-column-->
          <el-table-column
            prop="string_state"
            label="任务状态"
            width="180"
          >
          </el-table-column>
          <el-table-column
            label="操作"
          >
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" size="mini">查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page.sync="current"
          :page-size="10"
          layout="total, prev, pager, next"
          :total="pageNum">
        </el-pagination>
      </div>
      <div class="taskInfo" v-else>
        <TaskInfo :task_id="selectedId" :role_num=0 @adminOpr="adminOpr($event,arguments)"/>
      </div>
    </div>
  </div>
</template>

<script>

  import imgUrl from "../../assets/img.png"
  import TaskInfo from '../Common/TaskInfo'
  export default {
    name: 'WorkSpace',
    data() {
      return {
        msg: 'Welcome to Work History',
        imgUrl:imgUrl,
        log_index:-1,
        ifInfo:false,

        tasks:[],
        current:1,
        pageNum:0,
        selectedId:-1,
        selectedTaskState:0,
        taskState:0,
        searchText:"",
        sortType:"",
        arguments:[],
      }
    },
    components:{TaskInfo},
    methods: {
      getAllTasks(){
        let data={
          searchText:this.searchText,
          state:this.taskState,
          sortType:this.sortType,
          current:this.current-1
        };
        console.log(data);
        if (process.env.NODE_ENV === "development") {
          let tasks=[
            {
              id:1,
              time:"2020-21-1 08:00",
              name:"test_task",
              username:"test_user",
              templateName:"test_template",
              subnames:["sub1","sub2","sub3"],
              state:-2,
              string_state:"待执行"
            }
          ];
          this.tasks=tasks;
          this.pageNum=1;
        }else{
          this.$axios.post('/adminworkspace/getAllTasks',data).then(
            (response)=>{
              //console.log(response.data.content);
              if(response.data.success){
                let tasks=response.data.content.resList;
                for(var i=0;i<tasks.length;i++){
                  let string_state="";
                  switch (tasks[i].state) {
                    case 0:
                      string_state="待审批";
                      break;
                    case -2:
                      string_state="待执行";
                      break;
                    case 1:
                      string_state="执行中";
                      break;
                    case 2:
                      string_state="已完成";
                      break;
                    case -1:
                      string_state="已拒绝";
                      break;
                    case -3:
                      string_state="执行失败";
                      break;
                    default:
                      break;
                  }
                  tasks[i].string_state=string_state;
                }
                this.tasks=tasks;
                this.pageNum=response.data.content.num;
              }
              else{
              }
            }
          ).catch().finally(
          );
        }
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`,this.current);
        this.getAllTasks();
      },
      changeTableSort(column) {
        //console.log(column);
        //获取字段名称和排序类型
        let fieldName = column.prop;
        let sortingType = column.order;
        if(fieldName==="time"){
          if(sortingType==="ascending"){
            this.sortType="time";
          }else{
            this.sortType="time-reverse";
          }
        }else if(fieldName==="username"){
          this.sortType="user";
        }
        this.getAllTasks();
      },
      changeState:function(s){
        this.current=1;
        this.getAllTasks();
      },
      search() {
        this.current=1;
        this.getAllTasks();
      },
      handleClick(row){
        this.ifInfo=true;
        this.selectedId=row.id;
        this.selectedTaskState=row.state;
      },
      //详情页面
      back(){
        this.ifInfo=false;
      },
      adminOpr(e,regs){
        if(regs[0]==='verify'){
          if(regs[1]===0){
            this.verifyTask(0)
          }else{
            this.verifyTask(1)
          }
        }else{
          this.executeTask()
        }
      },
      verifyTask(index){
        let data={
          id:this.selectedId,
          verifyType:index
        };
        this.$axios.post('/adminworkspace/verifyTask',data).then(
          (response)=>{
            console.log(response.data)
          }
        ).catch().finally(
          this.getAllTasks()
        );
        if(index===0){
          this.$message({
            message: '已通过该任务',
            type: 'success'
          });

        }
        else{
          this.$message({
            message: '已拒绝该任务',
            type: 'warning'
          });
        }

        this.ifInfo=false;

      },
      executeTask(){
        console.log("id",this.selectedId);
        this.$axios.get('/adminworkspace/executeTask',{params:{id:this.selectedId}}).then(
          (res)=>{
            if(res.data.success){
              console.log("success",res.data);
              this.$message({
                message: '已开始执行该任务',
                type: 'success'
              });
              this.ifInfo=false;
            }
            else{
              console.log("fail")
              this.$message({
                message: '网络连接失败，请稍后重试',
                type: 'error'
              });
            }
          }
        ).finally(
        )
      }
    },
    mounted() {
      this.getAllTasks();
    }
  }
</script>

<style scoped lang="less">

  .work-history{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    .title{
      width: 100%;
      padding-top: 20px;
      font-size: 22px;

      .el-breadcrumb{
        font-size: 22px;
      }
    }

    .content{
      width: 100%;
      max-height: 75vh;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;


      .taskList{
        display: flex;
        flex-direction: column;

        .search{
          display: flex;
          flex-direction: row;


          .searchInput{
            margin-left: 20px;
            width: 30%;
          }
        }
      }
      .taskInfo{
        .taskinfo{
          font-size: 18px;
        }
      }


    }
  }

</style>


